<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>
<%= image_tag(@user.image.url) if @user.image.url %>

<h2>あなたのお気に入りしたツイート</h2>
 <% @user.favorite_twepics.each do |favorite| %>
   <p><%= favorite.user.name %>'s twepic!</p>
   <p>タイトル：<%= favorite.title %></p>
   <p>内容：<%= favorite.content %></p>
   <br>
 <% end %>
