<h1>Twepic一覧</h1>

<p><%= notice %></p>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

<% @twepics.each do |twepic| %>
  <tr>
    <td><%= twepic.title %></td>
    <td><%= twepic.content %></td>
    <td><%= link_to '詳細を確認する', twepic_path(twepic.id) %></td>
    <td><%= link_to "編集する", edit_twepic_path(twepic.id) %></td>
    <td><%= link_to '削除する', twepic_path(twepic.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }  %>
  </tr>
<% end %>
</table>
<%= link_to '新規投稿をする', new_twepic_path %>
